useDynLib(JoCuR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(dplyr, "%>%")
importFrom(dplyr, all_of)
importFrom(dplyr, arrange)
importFrom(dplyr, case_when)
importFrom(dplyr, c_across)
importFrom(dplyr, distinct)
importFrom(dplyr, filter)
importFrom(dplyr, group_by)
importFrom(dplyr, if_else)
importFrom(dplyr, mutate)
importFrom(dplyr, row_number)
importFrom(dplyr, rowwise)
importFrom(dplyr, select)
importFrom(dplyr, summarise)
importFrom(dplyr, ungroup)
importFrom(rlang, ":=")
importFrom(rlang, sym)
importFrom(Rlab, rbern)
importFrom(randcorr, randcorr)
importFrom(stats, as.formula)
importFrom(stats, model.matrix)
importFrom(stats, optim)
importFrom(stats, rexp)
importFrom(stats, rnorm)
importFrom(TruncatedNormal, rtnorm)
importFrom(utils, txtProgressBar)
export(CRsimulation)
export(E_y)
export(infer_CRJoint_MLE)
